main {
    background-color: $background-main;
}

.titulo-galeria {
    text-align: center;
    margin: 10px;
}

.imagenes-galeria {
    img {
        width: 100%;
    }
}

.imagenes-galeria-2:hover img {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.imagenes-galeria {
    overflow:hidden;
}

